# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Gradle
.gradle/
**/build/

# Logs
*.log
**/logs/

# Environment
*.env
.env.*
!*.env.example
infra/*.yml

# Java
*.class

# IntelliJ 설정 관련
out/

# Kotlin
*.kts~

# Test Reports
**/test-results/
**/test-report/
scheduler-service/src/test/java/com/evergreen/scheduler/SchedulerServiceApplicationTests.java
